body {
    background-color : #DEDEDE;
}


/* START NAVBAR */
header {
    width: 100%;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 99999999;
}

nav ul {
    line-height: 45px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 10px 40px;;
}

nav ul li a {
    font-family: 'Bungee', cursive;
    text-decoration: none !important;
    color: #000;
    font-size: 18px;
}

nav ul li a:hover{
    color: rgb(231, 22, 57);
}

nav.black ul li a {
    font-family: 'Bungee', cursive;
    text-decoration: none !important;
    color: #fff;
    font-size: 18px;
}

nav.black ul li a:hover{
    color: rgb(231, 22, 57);
}

.menu-icon {
    line-height: 45px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 725px) {
    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }
    nav ul li a {
        font-family: 'Bungee', cursive;
        text-decoration: none !important;
        color: #fff;
        font-size: 18px;
    } 
    nav ul li a:hover{
        color: rgb(231, 22, 57);
    }
    

    .menu-icon {
          display: block;
    }

}
/* END NAVBAR */

.introduction{
    margin-top: 80px;
    margin-bottom: 30px;
}
.introduction .txt{
    font-family: 'Bungee', cursive;
}

.box{
    height: 20px;
}

.txt{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: justify;
    text-justify: inter-word;
}


.title{
    font-family: 'Bungee', cursive;
}
h1{
    font-family: 'Bungee', cursive;
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
}

.shadow{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}


.card{
    border: black solid 3px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    */
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.boxes{
    width: 100%; 
    height: fit-content; 
    max-height: 450px; 
    overflow-y: hidden; 
    overflow-x: hidden;
}

@media (max-width: 400px) {
    .boxes{
        width: 100%; 
        height: fit-content; 
        max-height: 450px; 
        overflow-y: scroll; 
        overflow-x: hidden;
    }
}

.img_sec2{
    height: auto;
    width: 100%;
}
@media (max-width: 400px) {
    .body .txt{
        font-size: small;
    }
    .body .title{
        font-size: medium;
    }
    .txtbtm{
        font-size: small;
    }
    .card{
        max-height: 350px;

    }
    .card-body{
        overflow-y: scroll;
    }
    .box{
        height: 30px;
    }
  }
  @media (max-width: 350px) {
    .card{
        max-height: 300px;

    }
    .card-body{
        overflow-y: scroll;
    }
  }
  .section2{
    height: fit-content;
    /* width: 95%; */
    /* margin-left: 2.5%; */
    width: 80%;
    margin-left: 10%;
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    /* padding: 20px; */
    /* padding-bottom: 0px; */
}


/* CHAREF ADDED THIS */
@media (max-width:992px) {
    img#optionalstuff {
      display: none;
    }
  }

  @media only screen and (max-width:992px){
    .padrow{
        padding-left: 12%;
        padding-right: 12%;
    }
  }

  @media only screen and (max-width:780px){
    .padrow{
        padding-left: 0;
        padding-right: 0;
    }
  }



  /* AYA'S WORK ( NOT USED )*/
.article3{
    display: flex;
    justify-content: space-between;
    width: auto;
}
.section3{
    flex: 2;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-style: solid ;
    border-width: 5px;
    border-color: black;
    background-color: #ffffff;
    width: 75%;
    /* height: auto; */
    max-height: 400px;
    overflow-y: scroll;
    margin-top: 2%;
    /* border-radius: 20px;    CHAREF DELETED THIS */
    margin-left: 10%;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 10px;
    margin-left: -4%;
    padding-top: 2%;
    margin-right: -28px;
}
.build{
    padding-left: 30px;
    text-align: left;
    margin-bottom: 10px;
    flex: 2;
    height: auto;
    width: 60%;
}
.img9{
    flex: 1;
    height: auto;
    width: 20%;
    margin-bottom: 25px;
}
.img7{
    flex: 1;
    height: 4vw;
    align-self: center;
    /* margin-left: 20%;  CHAREF DELETED THIS */
    margin-bottom: 5%;
}

.img1_2{
    flex: 0.1;
    height: 6vw;
    width: auto;
    margin-left: 10%;
}
.img1_1{
    flex: 0.1;
    height: 6vw;
    width: auto;
    margin-bottom: -70%;
    margin-right: 9%;
}

.white-color{
    color: #DEDEDE;
}

.steps{
    font-family: 'Bungee', cursive;
}
.links li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.links li a:hover{
    color: rgb(231, 22, 57);
}

.presentation a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.presentation a:hover{
    color: rgb(231, 22, 57);
}

.itl {
    font-style: italic;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.theimage{
  object-fit: cover;
  height:100%;
  width:100%;
}

#hero {
    height: 100vh;
    width: 100%;
}

#hero video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (max-width: 725px)
{
    #hero video {
      display: none;
    }

    #hero {
        height: 10vh;
    }
}

.carousel .slide{
    width: 100%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:rgb(245, 189, 198);
}

.carousel-indicators .active{
    background-color:rgb(231, 22, 57);
}

.carousel-control-next-icon  {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(231, 22, 57)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(231, 22, 57)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/* START FOOTER */
.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height:24px;
  color:#7e7d7d;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.copyright-text a{
    color:#737373;
    text-decoration: none;
}

.copyright-text a:hover{
    color:#ffff;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* END FOOTER */